/* PARA PANTALLAS PEQUEÑAS (CELULARES) */
* {
    header {
        flex-direction: column !important;
        text-align: center !important;
        padding: 10px !important;
}}

nav {
    flex-wrap: wrap !important;
    gap: 10px !important;
    margin-top: 10px !important;
}

nav a {
    font-size: 12px !important;
    margin: 0 5px !important;
    white-space: nowrap !important;
}

.logo {
    margin-right: 0 !important;
    margin-bottom: 10px !important;
}

.anuncio-principal {
    flex-direction: column;
    padding: 30px;
    text-align: center;
}

.anuncio-texto h1 {
    font-size: 28px;
}

.marca-circulo {
    width: 70px;
    height: 70px;
    font-size: 12px;
}

.producto-grid {
    grid-template-columns: 1fr;
}

